.list-cell {
    -fx-padding: 3 3 3 3;
    -fx-background-color: white;
}

.dev-fx-window {
    -fx-background-color: #000000;
    -fx-pref-width: 100%;
    -fx-pref-height: 30px;
}

#errMsg {
    -fx-text-fill: #ff0000;
}