.list-cell {
    -fx-padding: 3 3 3 3;
    -fx-background-color: white;
}

.dev-fx-window {
    -fx-background-color: #000000;
    -fx-pref-width: 100%;
    -fx-pref-height: 30px;
}

.dev-fx-window-min, .dev-fx-window-close {
    -fx-background-color: #000000;
    -fx-font-size: 18;
    -fx-font-family: "Fira Code";
    -fx-pref-width: 50;
    -fx-border-radius: 0;
    -fx-border-width: 0;
}
.dev-fx-window-min:hover {
    -fx-background-color: #4cc5e8;
    -fx-text-fill: white;
}

.dev-fx-window-close:hover {
    -fx-background-color: #e81123;
    -fx-text-fill: white;
}
